


#omniauth-auth0 sign up
<br>
<button type="button" id="login">Login</button>



<em><%= notice %></em><br>
<% if @current_user %>
  Welcome <%= @current_user.name %> you have successfully signed in!<br>
  <%= link_to "Sign out", logout_path %>
<% else %>
  You are so not signed in.<br>
  <%= link_to "Sign in with Auth0", auth0_login_path, id: 'login' %><br>
<% end %>
