
<div class="login-logo">
  <%= image_tag 'logo-copy.png', class: "admin-miami-logo rounded mx-auto d-block", alt: "city of miami logo" %>
</div>

<div class="login-button">
<br>
<button class="btn btn-warning rounded mx-auto d-block" type="button" id="login">Admin Access</button>
<br>
</div>
