<span class="logged">
  <% if current_admin %>
  <span>You are logged in!</span>
  <% end %>
  <% if current_admin %>
  <%= link_to 'Content Management System', admin_new_path, class: "home-link-cms" %>
  <% end %>
</span>


<div class="header">
  <%= image_tag "MiamiSkyline.jpg", class: "header_image",  alt: "miami skyline" %>
  <%= image_tag "logo-copy.png", class: "com_logo rounded float-left", alt: "city of Miami logo" %>
  <h1 class="head">City of Miami</h1>
  <h2 class="title">Mayor Francis Suarez</h2>
</div>



<nav class="fill">
  <ul>

    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact Us</a></li>
    <li><a href="#">Programs</a></li>
    <li><a href="#">News</a></li>
  </ul>
</nav>

<div class="home_body">

  <div class="col-md-12">
    <div class="pull-left"><img class="mayor_img" src="assets/mayor.png"/></div>
    <div class="pull-left"><p class="super_summary"> Born and raised in Miami, Mayor Francis X. Suarez is no stranger to the City of Miami.
      As the 33rd Mayor of the City of Miami, Mayor Suarez is aiming to elevate the quality of life amongst residents of the City of Miami.
      Mayor Suarez has spearheaded campaigns to expand the options for mass transit and sought out justice against  several major banks for discriminatory mortgage lending practices.
      As the oldest of four siblings, Mayor Suarez understands the impact of being socially concious.</p>
    </div>
  </div>




</div>
<div class="tab-pane fade" id="nav-programs" role="tabpanel" aria-labelledby="nav-programs-tab">

  <p>kitty kitty kitty kitty kitty kitty kitty kitty kitty kitty kitty kitty kitty kitty kitty kitty kitty kitty kitty kitty kitty</p>



</div>
<div class="tab-pane fade" id="nav-news" role="tabpanel" aria-labelledby="nav-news-tab">





</div>
<div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">






</div>
</div>
<!--Footer-->
<footer class="page-footer font-small mdb-color lighten-3 pt-4 mt-4">

  <!--Footer Links-->
  <div class="container text-center text-md-left">
    <div class="row my-4">

      <!--First column-->
      <div class="col-md-4 col-lg-3">
        <h5 class="text-uppercase mb-4 font-weight-bold">Contact Us</h5>
        <p>Dial 311 or 305-468-5900</p>
        <a href="#">webmaster@miamigov.com</a>
      </div>
      <!--/.First column-->

      <hr class="clearfix w-100 d-md-none">

      <!--Second column-->
      <div class="col-md-2 col-lg-2 ml-auto">
        <h5 class="text-uppercase mb-4 font-weight-bold">Follow Us</h5>
        <ul class="list-unstyled">
          <p>
            <a href="#!">FACEBOOK</a>
          </p>
          <p>
            <a href="#!">TWITTER</a>
          </p>
          <p>
            <a href="#!">INSTAGRAM</a>
          </p>
        </ul>
      </div>
      <!--/.Second column-->

      <hr class="clearfix w-100 d-md-none">

      <!--Third column-->
      <div class="col-md-4 col-lg-3">
        <h5 class="text-uppercase mb-4 font-weight-bold">Visit Other Miami Sites</h5>
        <!--Info-->
        <a href="http://www.miamiandbeaches.com/">Greater Miami Convention & Visitors Bureau</a></br>
        <a href="https://www.miamidade.gov/home/">Miami Dade County</a>
      </div>
      <!--/.Third column-->


    </div>
  </div>
  <!--/.Footer Links-->


</footer>
<!--/.Footer-->
</div>
</body>


<!-- starting rails- password login  -->
<!-- bcrypt or device gem  -->
