<p id="notice"><%= notice %></p>

<div class="news-show-box">
<p>
  <strong>Image:</strong>
  <%= image_tag @news.image.url %>
</p>

<p>
  <strong>Title:</strong>
  <%= link_to @news.title, @news.url%>
</p>
</div>
