<p id="notice"><%= notice %></p>

<div class="news-show-box">
  <h2><%= image_tag @news.image.url %></h2>
  <span class="title-news" id="news-show-link"><%= link_to @news.title, @news.url%></span>
</div>
