<div class= "contacts-index">
<div class="container">
  <ul class='row' id="contacts-ul">
    <% @contacts.each do |contact| %>
    <div class='col'>
      <li><b><%= contact.name %></li></b>
      <li ><%= contact.title %></li>
      <li ><%= link_to contact.email, new_message_path, class: 'contact-show', remote: true %></li>
      <br>
      <br>
    </div>
    <% end %>
  </ul>
</div>
</div>
