/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

/* ************************* */
/* *********FOOTER********** */
/* ************************* */

.footer-outer-container {
  overflow: visible;
  padding: 10px 10px 10px 10px;

  background-color: #1D5779;
  box-sizing: border-box;

  color: #1D1E1F;
  font-size: 1.0em;
  line-height: 1.5;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0 auto;
  position: relative;
  word-wrap: break-word;
  overflow-x: hidden;
}
/*
@media (min-width: 992px)
.footer-first-row:before {
  content: '';
  background-image: url(footer-bg.jpg);
  background-repeat: no-repeat;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-position: top center;
  background-position-x: center;
  background-position-y: top;
  background-size: cover;
  width: 100%;
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: visible;
} */
.footer-first-row .grid-pad, .footer-second-row .grid-pad {
  padding-left: 0px;
  padding-right: 0px;
}
.grid-pad {
  padding: 15px;
}
.grid {
  margin: 0 -1%;
  box-sizing: border-box;
}
.footer-first-row .grid > div {
  margin-bottom: 30px;
}
/* @media (min-width: 480px)
.col-s-6 {
  width: 50%;
} */
.col-xs-12 {
  width: 100%;
}
/* [class*=" col-"], [class^="col-"] {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 1%;
  padding-left: 1%;
} */

ul.footer-links {
  font-size: 0.8em;
  color: #FFFFFF;
}
ul.footer-links {
  list-style: none outside none;
  padding: 0;
}
ul {
  margin: 10px 0px 10px 0px;

}
.grid.grid-pad {
  box-sizing: border-box;
  list-style: none;
}
h3.footer-title {
  font-family: "Work Sans", sans-serif;
  border-bottom: 0px solid #5C5C5C;
  color: #FFFFFF;
  font-size: 0.8em;
  font-weight: bold;
  font-style: normal;
  margin: 0px 0px 20px 0px;
  padding: 0px 0px 0px 0px;
}
.footer-container address, .footer-container a, .footer-container p {
  color: #FFFFFF;
  font-size: 1em;
  font-family: inherit;
  font-weight: normal;
  font-style: normal;
}
ul.footer-links a, div.footer-secondary-links > div:first-child a {
  text-decoration: none;
}
a, a:visited {
  font-weight: 600;
}

ul.footer-links a {
  line-height: 2.5;
  display: inline-block;
}

[class*=" col-"], [class^="col-"] {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 1%;
  padding-left: 1%;
}
@media (min-width: 480px)
.col-s-6 {
  width: 50%;
}


@media (min-width: 992px)
.footer-first-row:before {
  content: '';
  background-image: url(footer-bg.jpg);
  background-repeat: no-repeat;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
  background-position: top center;
  background-position-x: center;
  background-position-y: top;
  background-size: cover;
  width: 100%;
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: visible;
}
