/*@Editor-classes
Call to action Button|.main-container a.styled-button-calltoaction
@Editor-classes*/
/* Default Mixins */
a, a:visited { font-weight: 600; }

#main-content > ul, #main-content .grid > div[class^='col'] > ul { overflow: hidden; }

#main-content ol, #main-content ul { font-weight: 300; }

table.sc-responsive-table thead tr th { font-weight: 600; }

table.sc-responsive-table thead tr th p { font-size: 1em; font-family: inherit; color: #FFFFFF; font-weight: bold; }

table.sc-responsive-table tbody tr td p { color: #313337; font-size: 1em; font-family: inherit; font-weight: normal; }

table.sc-responsive-table tbody tr:nth-child(2n) td p { color: #313337; }

.main-container a.styled-button-calltoaction { color: #FFFFFF; margin: 10px 0px 10px 0px; background-color: #303335; border-radius: 4px; font-weight: 600; font-size: 1em; text-decoration: none; padding: 18px 25px 18px 25px; padding-right: 45px; text-align: center; border: none; font-family: inherit; position: relative; display: inline-block; }

.main-container a.styled-button-calltoaction:hover, .main-container a.styled-button-calltoaction:focus { background-color: #0672BA; color: #FFFFFF; }

.main-container a.styled-button-calltoaction:hover:after, .main-container a.styled-button-calltoaction:focus:after { right: 15px; }

.main-container a.styled-button-calltoaction:after { content: ''; background-image: url("general-sprite.svg"); background-repeat: no-repeat; background-size: 599px 600px; background-position: -134px -4px; width: 10px; height: 16px; position: absolute; top: 27px; right: 20px; transition: right 200ms ease-out 0s; }

.no-svg .main-container a.styled-button-calltoaction:after { background-image: url("general-sprite.svg"); }

/*Default Styles (Size 3/Mobile) Start*/
.header-site-logo > a { background-size: 145px 71px; }

.sc-search-panel { position: relative; border-radius: 4px; }

.sc-search-text { font-size: 0.8em; }

input.sc-search-button[type="submit"] { font-size: 0.8em; border-radius: 0 4px 4px 0; text-transform: uppercase; font-weight: bold; font-family: 'Work Sans', sans-serif; }

.mobile-search-btn-text { visibility: hidden; }

.mobile-search-btn > button { padding-left: 5px; }

.mobile-search-btn > button i { left: 15px; }

#predictiveResults .predictive-search-link-item { border-bottom: 1px solid #EDEFEF; position: relative; }

#predictiveResults .predictive-search-link-item h2 { font-weight: 600; }

#predictiveResults .predictive-search-link-item:hover h2, #predictiveResults .predictive-search-link-item:focus h2, #predictiveResults .predictive-search-link-item.itemSelected h2 { text-decoration: underline; }

#predictiveResults a.search-view-more:hover, #predictiveResults a.search-view-more:focus, #predictiveResults a.search-view-more.itemSelected { text-decoration: underline; }

#predictiveResults > p { padding: 20px 25px; margin-bottom: 0; }

.row-index-1 .row-container .row-content-container { padding-top: 0; padding-bottom: 0; }

.profile-featured-links { margin-bottom: 0; }

.profile-featured-text, a.profile-featured-text:visited { line-height: 1.1; width: 80%; }

.tab-header-title { margin-right: 1px; }

.tab-header-title .item-icon { width: 34px; background-position: -181px -86px; }

.tab-header-title.selected .item-icon { background-position: -181px -42px; }

.tab-header-title.item-1 { -webkit-border-radius: 5px 0 0 0; border-radius: 5px 0 0 0; }

.tab-header-title:last-child { -webkit-border-radius: 0 5px 0 0; border-radius: 0 5px 0 0; }

.tab-header-title.selected, .tab-header-title.selected:visited { -webkit-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; }

.tab-header-title.tab-type-homepage-do-it-online .item-icon { background-position: 0px -85px; }

.tab-header-title.tab-type-homepage-do-it-online.selected .item-icon { background-position: 0px -42px; }

.tab-header-title.tab-type-homepage-news-listing .item-icon { background-position: -41px -85px; }

.tab-header-title.tab-type-homepage-news-listing.selected .item-icon { background-position: -41px -42px; }

.tab-header-title.tab-type-homepage-events-listing .item-icon { background-position: -88px -85px; }

.tab-header-title.tab-type-homepage-events-listing.selected .item-icon { background-position: -88px -42px; }

.tab-header-title.tab-type-homepage-public-notices-listing .item-icon { background-position: -135px -86px; }

.tab-header-title.tab-type-homepage-public-notices-listing.selected .item-icon { background-position: -135px -42px; }

.tab-header-title.tab-type-homepage-consultation-listing .item-icon { background-position: -229px -86px; }

.tab-header-title.tab-type-homepage-consultation-listing.selected .item-icon { background-position: -229px -42px; }

.tab-header-title.tab-type-homepage-social .item-icon { background-position: -352px -87px; }

.tab-header-title.tab-type-homepage-social.selected .item-icon { background-position: -352px -43px; }

.tabs-panel ol, .tabs-panel ul { font-weight: 300; }

.tabs-panel .wysiwyg-content { padding: 20px; }

.do-it-online .item-icon { display: block; }

.do-it-online a.profile-list > h2 { line-height: 1.4; }

.do-it-online a.profile-list:after { top: 25px; }

.do-it-online a.profile-list i.item-icon { transition: background-color 300ms ease-out 0s; }

.do-it-online a.profile-list:hover > h2, .do-it-online a.profile-list:focus > h2 { text-decoration: underline; }

.profile-tabbed-listing:not(.do-it-online) a { transition: box-shadow 300ms ease-out 0s; border-bottom: 2px solid #EDEFEF; margin-bottom: 15px; -webkit-box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.05); -moz-box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.05); box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.05); }

.profile-tabbed-listing:not(.do-it-online) .grid > div:last-child a { border-bottom: none; }

.profile-tabbed-listing:not(.do-it-online) h2 { font-family: "Work Sans", sans-serif; line-height: 1.5; }

.profile-tabbed-listing:not(.do-it-online) p.small-text { padding-bottom: 0; }

.profile-tabbed-listing:not(.do-it-online) p:not(.small-text) { line-height: 1.5; font-weight: 300; }

.profile-consultation-listing a.profile-list:hover h2, .profile-consultation-listing a.profile-list:focus h2, .profile-public-notices-listing a.profile-list:hover h2, .profile-public-notices-listing a.profile-list:focus h2, .profile-events-listing a.profile-list:hover h2, .profile-events-listing a.profile-list:focus h2, .profile-news-listing a.profile-list:hover h2, .profile-news-listing a.profile-list:focus h2, .profile-message-board-listing a.profile-list:hover h2, .profile-message-board-listing a.profile-list:focus h2 { text-decoration: underline; }

.profile-listing-container .panel-button, .profile-listing-container .panel-button:visited { margin-bottom: 20px; font-weight: 600; }

.profile-events-listing .profile-list .list-item-block-date { border-radius: 50%; height: 79px; padding: 10px 0; float: none; display: block; margin-bottom: 15px; font-family: "Work Sans", sans-serif; }

.profile-events-listing .profile-list .list-item-block-date .part-date { display: block; line-height: 1; }

.profile-events-listing .profile-list .list-item-block-date .part-month { text-transform: uppercase; display: inline-block; }

.profile-featured-panel { border-radius: 4px; overflow: hidden; border-bottom: solid 6px #6540B0; -webkit-box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.05); -moz-box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.05); box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 0.05); transition: box-shadow 300ms ease-out 0s; }

.row-index-4 .profile-featured-panel { border-bottom-color: #06893A; }

.profile-featured-panel h2 { font-weight: 600; }

.profile-featured-panel .panel-text { line-height: 1.5; font-weight: 300; }

.profile-featured-panels .grid > div:nth-child(2) .profile-featured-panel { border-bottom-color: #A7144F; }

.row-index-4 .profile-featured-panels .grid > div:nth-child(2) .profile-featured-panel { border-bottom-color: #EC7A08; }

.profile-featured-panels .grid > div:nth-child(3) .profile-featured-panel { border-bottom-color: #067A77; }

.row-index-4 .profile-featured-panels .grid > div:nth-child(3) .profile-featured-panel { border-bottom-color: #0672BA; }

.profile-featured-panel:hover h2, .profile-featured-panel:focus h2 { text-decoration: underline; }

.emergency-container { display: none; }

.oc-emergency-announcement-container .oc-single-url { margin-top: 15px; }

.oc-emergency-announcement-container .side-box.message-box { padding: 0px 0px 5px 0px; }

.oc-emergency-announcement-container .side-box .side-box-content p > a { font-size: 1em; }

.search-filter-body label { font-size: 0.9em; }

.search-filter-body input, .search-filter-body select { font-size: 0.8em; }

.quick-links.accordion-closed i, .search-filter-trigger.accordion-closed i { background-position: -114px -293px; }

.quick-links.accordion-opened i, .search-filter-trigger.accordion-opened i { background-position: -78px -293px; }

.sc-search-box { position: relative; display: inline-block; }

.sc-search-box:before { content: ''; width: 21px; height: 21px; position: absolute; top: 22px; left: 12px; background-image: url("general-sprite.svg"); background-size: 599px 600px; background-repeat: no-repeat; background-position: 0px -258px; z-index: 1; }

.no-svg .sc-search-box:before { background-image: url("general-sprite.svg"); }

.sc-search-box input { background-image: none; }

.list-item-container > article > a > p, .list-item-block-desc { font-weight: 300; line-height: 1.5; }

.list-item-block-date { font-weight: 300; line-height: 1.2; }

.list-item-container > article > a > p.tagged-as-list, .list-item-container > article > a > p.small-text, .list-item-container > article > a > p > img { font-weight: 300; line-height: 1.5; }

.list-item-container a, .list-item-container .list-item { border-top: solid 2px #EDEFEF; }

.list-container .list-item-container-2 .published-on:before, .list-container .list-item-container .published-on:before, .list-container .list-item-container .applications-closing:before { background-position: -309px -48px; width: 20px; height: 21px; }

.list-container a:hover .list-item-title, .list-container a:focus .list-item-title { text-decoration: underline; }

.list-container .list-item-container .tagged-as-list { font-weight: normal; }

.social-feed-item { border-top: solid 2px #EDEFEF; }

.events-list-container .list-item-block-date { border-radius: 50%; height: 79px; padding: 10px 0; font-family: "Work Sans", sans-serif; }

.events-list-container .list-item-block-date span { font-weight: 600; }

.events-list-container .list-item-block-date .part-date { display: block; line-height: 1; font-weight: 600; }

.events-list-container .list-item-block-date .part-month { text-transform: uppercase; display: inline-block; }

.main-container .seamless-pagination-controls input[type="submit"] { padding: 0; border-color: #F4F6F8; }

.main-container .seamless-pagination-controls input[type="submit"]:hover, .main-container .seamless-pagination-controls input[type="submit"]:focus { border-color: #035B59; }

.main-container .button-previous input[type="submit"] { background-position: -38px -422px; }

.main-container .button-previous input[type="submit"]:hover, .main-container .button-previous input[type="submit"]:focus { background-position: -38px -519px; }

.main-container .button-next input[type="submit"] { background-position: 13px -422px; }

.main-container .button-next input[type="submit"]:hover, .main-container .button-next input[type="submit"]:focus { background-position: 13px -519px; }

.main-container input[type="submit"].btn_scPagingNonJS_enabled { transition-property: background-color, border-color; }

.main-container input[type="submit"].btn_scPagingNonJS_enabled:hover, .main-container input[type="submit"].btn_scPagingNonJS_enabled:focus { background-color: #035B59; color: #FFFFFF; }

.list-item-container p.list-item-additional, .list-item-container-2 p.list-item-additional { margin-top: 20px; font-size: .9em; }

.list-item-container p.list-item-address, .list-item-container-2 p.list-item-address { margin-bottom: 10px; }

.list-item-address:before { width: 19px; height: 19px; background-position: -275px -2px; }

.list-item-container.mycouncil-item-container > a .list-item-title { color: #313337; font-weight: 600; font-size: 1.2em; display: block; border-bottom: 0px solid #EDEDED; padding: 0px 0px 0px 0px; margin: 0px 0px 30px 0px; }

.elected-official-list-container article, .department-list-container article, .waste-services-result article, .councillor-result article { background-color: #FFFFFF; border-top: solid 2px #EDEFEF; }

.landing-page-list-container .list-item-container p, .landing-page-list-container.list-container .list-item-container p, .landing-page-nav .list-item-container p, .landing-page-nav.list-container .list-item-container p { font-weight: 300; }

.landing-page-nav .list-item-container a, .landing-page-nav .list-item-container.small-panel a, .landing-page-list-container .list-item-container.small-panel a { margin: 0 10px 15px; }

.quick-links-section a { font-weight: normal; }

#back-to-top { border: solid 2px #303335; }

#back-to-top i { background-position: -330px -477px; transition: none; }

html.js #back-to-top i { margin: 11px; }

#back-to-top:hover, #back-to-top:focus { border-color: #0672BA; }

#back-to-top:hover i, #back-to-top:focus i { background-position: -54px -356px; }

.module-interface-in-my-neighbourhood .button-my-location i { top: 22px; }

.map-results-list h3 { font-weight: 600; }

.waste-services-result article h3, .councillor-result article h3, .subpage-content-widget h2.sub-title, .waste-services-widget h2.sub-title, .councillors-widget h2.sub-title { border-bottom: none; padding-bottom: 0; }

.side-box.message-box { padding: 0px 20px 20px; }

.side-box-content > a, .side-box-content ol, .side-box-content ul, .side-box-content p, .side-box-content div[class^='contact-'] { font-size: 0.9em; }

.side-box-content ol, .side-box-content ul, .side-box-content p, .side-box-content div[class^='contact-'] { font-weight: 300; }

.add-to-calendar-header h2 { border-radius: 4px; }

.add-to-calendar-body p { font-weight: 300; font-size: 0.9em; }

.accordion-trigger i { width: 25px; height: 25px; }

.oc-emergency-dismissed .accordion-trigger i { margin: 11px 20px; }

.accordion-opened i { background-position: -1px -294px; }

.accordion-closed i { background-position: -37px -294px; }

.accordion-list-container .accordion-item-header a { border-radius: 4px; }

.categories-list a { font-weight: 600; }

.categories-list a:hover, .categories-list a:focus { text-decoration: underline; }

a.item-navigation.prev-item .item-navigation-label:before, a.item-navigation.next-item .item-navigation-label:before { height: 19px; width: 11px; background-position: 0px -428px; }

a.item-navigation.prev-item:hover .item-navigation-label:before, a.item-navigation.prev-item:focus .item-navigation-label:before, a.item-navigation.next-item:hover .item-navigation-label:before, a.item-navigation.next-item:focus .item-navigation-label:before { background-position: 0px -478px; }

a.item-navigation.prev-item { margin-bottom: 20px; }

a.item-navigation.prev-item .item-navigation-label:before { background-position: -50px -428px; }

a.item-navigation.prev-item:hover .item-navigation-label:before, a.item-navigation.prev-item:focus .item-navigation-label:before { background-position: -50px -478px; }

.obj-meeting a.item-navigation { margin-top: 50px; }

.tooltipster-glossary h4 { font-size: 1.3em; }

.tooltipster-glossary p { font-size: 1.2em; line-height: 1.2; color: #FFFFFF; }

.footer-container p { line-height: 1.5; }

.footer-container p a { font-size: 1em; }

.footer-first-row .grid > div { margin-bottom: 30px; }

.footer-second-row .grid-pad { padding-top: 25px; }

.footer-secondary-links { border-top: solid 2px #EDEFEF; }

.footer-secondary-links a { font-size: 1em; }

ul.footer-links { font-size: 0.8em; color: #FFFFFF; }

ul.footer-links a { line-height: 2.5; }

ul.footer-links.social-media-links li { min-height: 0px; }

ul.footer-links.social-media-links li a i { margin-top: 9px; }

ul.social-media-links li a i, .social-media-profiles li a:before { background-position: -387px -572px; }

.social-media-links .footer-link-google-plus i, .social-media-links .footer-link-googleplus i, .social-media-profiles li.google-plus a:before, .social-media-profiles li.googleplus a:before { background-position: -36px -571px; }

.social-media-links .footer-link-facebook i, .social-media-profiles li.facebook a:before { background-position: -68px -571px; }

.social-media-links .footer-link-twitter i, .social-media-profiles li.twitter a:before { background-position: -100px -571px; }

.social-media-links .footer-link-youtube i, .social-media-profiles li.youtube a:before { background-position: -132px -571px; }

.social-media-links .footer-link-instagram i, .social-media-profiles li.instagram a:before { background-position: -165px -572px; }

.social-media-links .footer-link-pinterest i, .social-media-profiles li.pinterest a:before { background-position: -197px -571px; }

.social-media-links .footer-link-linkedin i, .social-media-profiles li.linkedin a:before { background-position: -228px -572px; }

.social-media-links .footer-link-vimeo i, .social-media-profiles li.vimeo a:before { background-position: -260px -571px; }

.social-media-links .footer-link-wordpress i, .social-media-profiles li.wordpress a:before { background-position: -324px -571px; }

.social-media-links .footer-link-tumblr i, .social-media-profiles li.tumblr a:before { background-position: -356px -571px; }

#skip-to-content-link:focus { color: #fff; }

.result-panel:before { background-position: 0px -169px; }

.related-information-section { margin-top: 50px; }

.related-information-section h2 { font-size: 1em; color: #313337; border-bottom: none; }

.related-information-list a { font-size: 0.9em; }

#main-content h2.sub-title { margin-top: 20px; }

.drop-button.zip-all { margin-top: 30px; }

a.hyperlink-button, .meeting-document-info a, .meeting-document-info a.document { margin-bottom: 5px; border-radius: 4px; font-weight: 600; font-family: inherit; padding: 18px 25px 18px 25px; }

a.hyperlink-button:before, .meeting-document-info a:before, .meeting-document-info a.document:before { margin-top: 6px; }

.slideshow-widget .ocflex-pauseplay a.ocflex-play:after { left: 9px; }

.elected-official-list-container header a, .elected-official-list-container header a:visited { color: #313337; }

.councillor-result article > a, .councillor-result article > a:visited { color: inherit; }

.content-details-list { margin-bottom: 20px; }

.content-details-list .field-label { border-right-color: #FFFFFF; }

.content-details-list .field-value { border-left: none; margin-left: 0; }

.toolbar-language-links { background-color: #0369B5; }

.toolbar-language-links .current-language { background-color: #00509C; padding-left: 10px; padding-right: 10px; }

.toolbar-button:focus { outline: thin dotted; }

.toolbar-language { line-height: 1; }

.toolbar-button-language { background-color: #303335; font-size: .8em; line-height: 1; vertical-align: top; padding: 5px 30px 5px 10px; }

.toolbar-button-language .current-language { color: #fff; }

.toolbar-button-language > i { border-top-color: #fff; }

.toolbar-button-language.toolbar-button-expanded:after { border-bottom-color: #fff; }

.toolbar-button-language:hover, .toolbar-button-language:focus { background-color: #A7144F; }

.toolbar-language-drop-down { background-color: #fff; }

.toolbar-language-drop-down a, .toolbar-language-drop-down a:visited, .toolbar-language-drop-down span { color: #303335; font-size: .8em; border-bottom: solid 1px #EDEFEF; }

.toolbar-language-drop-down a:hover, .toolbar-language-drop-down a:focus { color: #fff; background-color: #A7144F; }

.toolbar-language-drop-down ul > li:last-child a, .toolbar-language-drop-down ul > li:last-child span { border-bottom: none; }

.animal-list-container .item-adopt span.field-label { background-color: #0E8421; }

.animal-list-container .image-gallery-container .image-gallery-item > a .file-info { bottom: 36px; padding: 3px; background-color: rgba(0, 0, 0, 0.5); }

.tab-group-inner-page .tabs-panel { background-color: #ffffff; }

.tab-group-inner-page .tab-header-title.selected, .tab-group-inner-page a.tab-header-title.selected:visited, .tab-group-inner-page .tab-header-title.selected:hover, .tab-group-inner-page .tab-header-title.selected:focus, .tab-group-inner-page .tab-header-title:hover, .tab-group-inner-page .tab-header-title:focus { background-color: #ffffff; color: #007DA3; }

.tab-group-inner-page .tab-header-title, .tab-group-inner-page a.tab-header-title:visited { background-color: #F4F6F8; color: #1D1E1F; padding: 15px 25px; }

.tab-group-inner-page .tab-header-title.selected, .tab-group-inner-page a.tab-header-title.selected:visited { padding-top: 20px; padding-bottom: 15px; -webkit-box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.1); box-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.1); }

.tab-group-inner-page .tabs-panel.selected { -webkit-box-shadow: 0px 15px 32px 0px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0px 15px 32px 0px rgba(0, 0, 0, 0.1); box-shadow: 0px 15px 32px 0px rgba(0, 0, 0, 0.1); }

.tab-group-inner-page .tab-header-title span { font-weight: 600; font-size: .9em; }

.step-numbering-Yes .step-section-container { padding-left: 50px; margin-left: 34px; border-left: dotted #93999D 3px; min-height: 84px; }

.step-numbering-Yes .step-section-container:last-child { margin-left: 36px; }

.step-numbering-Yes .step-section-container:before { color: #303335; border: solid 2px #303335; font-size: 1.2em; width: 60px; height: 60px; left: -32px; padding-top: 9px; font-weight: normal; }

.step-section .page-section-header { font-size: 1.2em; font-weight: normal; padding-top: 12px; }

section.comment-forum header { font-size: 0.9em; }

section.comment-forum header .actions { top: 6px; }

section.comment-forum footer { font-size: 0.8em; }

section.comment-forum a { text-decoration: none; }

section.comment-forum a:not(.action-forumsubscribe):hover, section.comment-forum a:not(.action-forumsubscribe):focus { text-decoration: underline; }

section.comment-forum span.badge { font-size: 0.875em; }

section.comment-forum .actions a, section.comment-forum .actions a:visited { font-weight: normal; }

section.comment-forum .comment-content, section.comment-forum .report-content { padding-left: 0px; }

section.comment-forum .comment-responses .comment-thread { background: transparent; border-bottom: none; border-top: solid 2px #EDEFEF; padding-top: 10px; }

section.comment-forum .comment-responses .comment-thread:first-child { border-top: none; padding-top: 0; }

section.comment-forum .comment-responses .comment-thread > article > .comment-container { padding: 20px; background: #dfe5eb; border: none; }

section.comment-forum .comment-responses .comment-thread.is-moderator > article > .comment-container { background: #dfe5eb; }

section.comment-forum .comment-responses .comment-thread.is-archived > article > .comment-container { background: #f4f6f8; }

section.comment-forum .comment-responses .comment-thread .comment-thread { border: none; }

section.comment-forum .message-box { background-color: #dfe5eb; }

section.comment-forum .message-box .side-box-title, section.comment-forum .message-box .side-box-content { padding: 20px; }

section.comment-forum .message-box .side-box-title { padding-bottom: 0px; }

section.comment-forum .message-box .oc-single-url { margin-top: 10px; }

section.comment-forum .message-box a, section.comment-forum .message-box a:visited { color: #313337; text-decoration: underline; }

section.comment-forum .message-box a:hover, section.comment-forum .message-box a:focus, section.comment-forum .message-box a:visited:hover, section.comment-forum .message-box a:visited:focus { text-decoration: none; }

.content-details-stack .field-value, .multi-date-list-container { font-weight: 300; }

.img-enlarge i.icon-enlarge { margin-top: 9px; }

@media (min-width: 480px) { .sc-search-text { font-size: 0.9em; }
  .profile-featured-text, a.profile-featured-text:visited { width: 50%; }
  .row-index-1 .row-container .row-content-container { padding: 30px 0px 0px 0px; }
  .tab-header-title { padding-left: 39px; padding-right: 39px; }
  .profile-events-listing .profile-list .list-item-block-date { float: left; display: inline; margin-bottom: 0px; } }

/*Default Styles (Size 3/Mobile)  End*/
@media (min-width: 768px) { /*Size 2/Tablet Start*/
  .mobile-search-btn-text { visibility: visible; }
  .mobile-search-btn > button { padding-left: 15px; }
  .mobile-search-btn > button i { left: 18px; }
  .header-site-logo > a { background-size: 218px 107px; }
  .sc-search-text { padding-left: 60px; }
  .sc-search-panel:before { content: ''; width: 25px; height: 25px; position: absolute; top: 29px; left: 18px; background-image: url("general-sprite.svg"); background-size: 599px 600px; background-repeat: no-repeat; background-position: -483px 1px; }
  .no-svg .sc-search-panel:before { background-image: url("general-sprite.svg"); }
  .row-index-1 .row-container .row-content-container { padding: 10px 0; }
  .tab-header-title { padding-left: 23px; padding-right: 23px; }
  .tab-header-title span { display: inline-block; }
  .tab-header-title.selected:after, .tab-header-title.selected:visited:after { content: ''; border: solid 3px #007DA3; border-top: none; border-right: none; width: 13px; height: 13px; position: relative; display: block; margin: 0px auto -13px; -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); }
  .tab-group-inner-page .tab-header-title.selected:after, .tab-group-inner-page .tab-header-title.selected:visited:after { display: none; }
  .do-it-online .profile-list { transition: box-shadow 300ms ease-out 0s; }
  .do-it-online .profile-list:hover, .do-it-online .profile-list:focus { -webkit-box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.15); box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.15); }
  .do-it-online .profile-list > h2 { font-size: 1.1em; }
  .do-it-online .profile-list > p { clear: none; font-weight: 300; line-height: 1.5; }
  .do-it-online .item-icon { margin-bottom: 70px; }
  .profile-featured-text, a.profile-featured-text:visited { font-size: 2.4em; width: 50%; }
  .profile-listing-container .panel-button, .profile-listing-container .panel-button:visited { margin-bottom: 25px; }
  .profile-tabbed-listing:not(.do-it-online) a { border-bottom: none; margin-bottom: 25px; }
  #breadcrumbs-container { padding-right: 27px; padding-left: 27px; }
  .light-theme a, .light-theme span { font-weight: 600; }
  .light-theme a.prev, .light-theme a.next { font-size: 0.8em; }
  .image-fade:before { width: 50%; }
  /*Size 2/Tablet End*/ }

.sf-menu a { text-transform: uppercase; }

.side-menu-btn { border-radius: 4px; }

.side-menu-btn button { padding: 43px 15px 12px; }

.side-menu-btn i { top: 24px; transition: none; }

.side-menu-btn i:before, .side-menu-btn i:after { transition: none; }

.side-menu-btn .pressed i:before, .side-menu-btn .pressed i:after { left: 6px; }

.mobnav-subarrow-child i, .mobnav-subarrow i { height: 32px; }

.js .side-menu .navigation-outer-container { box-shadow: 0px 2px 5px 0px #888888; }

.js .side-menu .navigation-outer-container .nav-offscreen-menu > li > a { font-family: "Work Sans", sans-serif; }

.js .side-menu .navigation-outer-container .nav-offscreen-menu > li > a:hover + .mobnav-subarrow-child i, .js .side-menu .navigation-outer-container .nav-offscreen-menu > li > a:hover + .mobnav-subarrow i, .js .side-menu .navigation-outer-container .nav-offscreen-menu > li > a:focus + .mobnav-subarrow-child i, .js .side-menu .navigation-outer-container .nav-offscreen-menu > li > a:focus + .mobnav-subarrow i { background-position: -54px -212px; }

.js .side-menu .navigation-outer-container .nav-offscreen-menu .mobnav-subarrow:hover i, .js .side-menu .navigation-outer-container .nav-offscreen-menu .mobnav-subarrow:focus i, .js .side-menu .navigation-outer-container .nav-offscreen-menu .mobnav-subarrow-child:hover i, .js .side-menu .navigation-outer-container .nav-offscreen-menu .mobnav-subarrow-child:focus i { background-position: -54px -212px; }

.js .side-menu .navigation-outer-container .nav-offscreen-menu ul li > a.prev-link { padding-left: 70px; position: relative; }

.js .side-menu .navigation-outer-container .nav-offscreen-menu ul li > a.prev-link:before { content: ''; width: 27px; height: 27px; position: absolute; top: 24px; left: 25px; background-image: url("general-sprite.svg"); background-size: 599px 600px; background-repeat: no-repeat; background-position: -54px -218px; -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); }

.no-svg .js .side-menu .navigation-outer-container .nav-offscreen-menu ul li > a.prev-link:before { background-image: url("general-sprite.svg"); }

@media (min-width: 992px) { /*Size 1/Desktop Start*/
  .header-site-logo > a { background-size: 290px 142px; }
  .row-index-1 .row-container .row-content-container { padding: 20px 0 0; }
  .profile-featured-text, a.profile-featured-text:visited { font-size: 3.6em; width: 45%; }
  #breadcrumbs-container { padding-right: 35px; padding-left: 35px; }
  .search-filter:not(.my-meighbourhood-filter) .search-filter-body label:first-child { margin-top: 0; }
  .search-filter-header h2 { padding-right: 20px; }
  .quick-links-section h2 { padding-right: 30px; }
  .tab-header-title .item-icon { display: none; }
  .tab-header-title { padding: 25px 45px; }
  .tab-header-title.selected { padding-top: 30px; }
  .tab-header-title.selected:after, .tab-header-title.selected:visited:after { margin: 9px auto -22px; }
  .profile-featured-panels [class*="col-"] { padding-left: 1.5%; padding-right: 1.5%; }
  #sub-navigation-container a { font-weight: normal; font-size: 0.9em; }
  .footer-first-row { overflow: visible; }
  .footer-first-row:before { content: ''; background-image: url(footer-bg.jpg); background-repeat: no-repeat; background-position: top center; background-size: cover; width: 100%; position: absolute; top: 0; left: 0; overflow: visible; }
  .footer-second-row.grid-pad { padding-top: 35px; }
  .footer-outer-container.footer-second-row { background-color: transparent; }
  .image-fade:before { width: 45%; }
  /*Size 1/Desktop End*/ }

@media (min-width: 992px) { /*Size 1/Desktop Start*/
  #nav[data-menu-type='horizontal'] .mobnav-subarrow-child i { margin-top: 10px; }
  .side-menu-btn i { top: 29px; }
  .side-menu-btn button { padding: 48px 20px 17px; } }

.sc-feedback-form { margin-top: 30px; }

.sc-label { font-family: 'Merriweather', serif; margin-bottom: 0px; }

.sc-label > span, .sc-label > label { margin: 0px 0px 10px 0px; display: inline-block; }

.sc-file-upload input { font-size: .8em; }

ul.errors, ul.errors li a { color: #D23749; }

.meeting-document-info a, .meeting-document-info a.document, a.hyperlink-button, .layout-modern .sc-cal-dialog .btn, .panel-button, .panel-button:visited, .drop-button .drop-button-header > a, .main-container button, .main-container input[type="button"], .main-container input[type="reset"], .main-container input[type="submit"], .main-container .styled-button, .main-container a.styled-button, .main-container a.styled-button:visited, .sc-form .sc-editcal .sc-editcal-add, .sc-form .sc-editcal .sc-editcal-remove, .sc-form .sc-editcal .sc-editcal-edit { border: solid 2px #303335; -webkit-transition: all 300ms ease-out 0s; -o-transition: all 300ms ease-out 0s; -moz-transition: all 300ms ease-out 0s; transition: all 300ms ease-out 0s; }

.meeting-document-info a:hover, .meeting-document-info a:focus, .meeting-document-info a.document:hover, .meeting-document-info a.document:focus, a.hyperlink-button:hover, a.hyperlink-button:focus, .layout-modern .sc-cal-dialog .btn:hover, .layout-modern .sc-cal-dialog .btn:focus, .panel-button:hover, .panel-button:focus, .panel-button:visited:hover, .panel-button:visited:focus, .drop-button .drop-button-header > a:hover, .drop-button .drop-button-header > a:focus, .main-container button:hover, .main-container button:focus, .main-container input[type="button"]:hover, .main-container input[type="button"]:focus, .main-container input[type="reset"]:hover, .main-container input[type="reset"]:focus, .main-container input[type="submit"]:hover, .main-container input[type="submit"]:focus, .main-container .styled-button:hover, .main-container .styled-button:focus, .main-container a.styled-button:hover, .main-container a.styled-button:focus, .main-container a.styled-button:visited:hover, .main-container a.styled-button:visited:focus, .sc-form .sc-editcal .sc-editcal-add:hover, .sc-form .sc-editcal .sc-editcal-add:focus, .sc-form .sc-editcal .sc-editcal-remove:hover, .sc-form .sc-editcal .sc-editcal-remove:focus, .sc-form .sc-editcal .sc-editcal-edit:hover, .sc-form .sc-editcal .sc-editcal-edit:focus { border-color: #0672BA; }

.main-container .custom-df-hyperlink-item input[disabled="disabled"], .main-container .custom-df-hyperlink-item input[disabled="disabled"]:hover, .main-container .custom-df-hyperlink-item input[disabled="disabled"]:focus { border: solid 2px #303335; }

.sc-form .sc-editcal .sc-editcal-remove, .sc-form-clear-button-container input, .main-container input[type="reset"], .main-container .sc-form-btn-cancel input[type="submit"], .main-container input.login-button.back-button[type="submit"], .main-container .cancel-button[type="submit"], .main-container .button-clear-image[type="submit"] { border: solid 2px #067A77; }

.main-container input.styled-button.logout-button[type="submit"], .main-container .deactivate-account-widget .styled-button.deactivate-account-button, .main-container .confirm-action-widget .styled-button.button-yes, .main-container .styled-button.styled-button-archive, .main-container .mycouncil-buttons .styled-button.deactivate-account-button, .main-container a.styled-button.styled-button-archive, .main-container a.styled-button.deactivate-account-button { background-color: #FFFFFF; color: #A7144F; border: 2px solid #A7144F; }

.main-container input.styled-button.logout-button[type="submit"]:hover, .main-container input.styled-button.logout-button[type="submit"]:focus, .main-container .deactivate-account-widget .styled-button.deactivate-account-button:hover, .main-container .deactivate-account-widget .styled-button.deactivate-account-button:focus, .main-container .confirm-action-widget .styled-button.button-yes:hover, .main-container .confirm-action-widget .styled-button.button-yes:focus, .main-container .styled-button.styled-button-archive:hover, .main-container .styled-button.styled-button-archive:focus, .main-container .mycouncil-buttons .styled-button.deactivate-account-button:hover, .main-container .mycouncil-buttons .styled-button.deactivate-account-button:focus, .main-container a.styled-button.styled-button-archive:hover, .main-container a.styled-button.styled-button-archive:focus, .main-container a.styled-button.deactivate-account-button:hover, .main-container a.styled-button.deactivate-account-button:focus { background-color: #A7144F; color: #FFFFFF; }
