
/* ***********************DASHBOARD************************ */

.column-cms {
  float: left;
  width: 33.33%;
}
.tab-content {
  margin: 1%;
}
/* Clear floats after the columns */
.row-cms:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 600px) {
  .column-row {
    width: 100%;
  }
}
/* ************************************************************** */
/* ****************************CMS************************************* */
.top-cms {
  background-image: image-url("miami-night.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
}
.cms-img {
  width: 200px;
}

.logged {
  margin: auto;
}

.home-link-cms {
  float: right;
  text-decoration: none;
  margin-right: 1%;
}

#nav-tab{
  padding-top: 2%;
  background: white!important;
  width: 100% !important;
}

.blue-miami-logo {
  width: 15%;
  height: auto;
  padding-bottom: 3%;
  padding-top: 3%;
}

.tab-content {
  padding-top: 15px;
}

#nav-programs-tab {
  font-size: 24px;
  text-decoration: none;
}
#nav-home-tab {
  font-size: 24px;
  text-decoration: none;

}
#nav-news-tab {
  font-size: 24px;
  text-decoration: none;

}
#nav-about-tab {
  font-size: 24px;
  text-decoration: none;
}
#nav-contacts-tab {
  font-size: 24px;
  text-decoration: none;
}
#dash {
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
}
#dash-about {
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  padding-top: 70px;
}

/* ***************ABOUT**************** */
.sworn-in {
  width:30%;
  height: auto;
  margin: 1%;
  display: flex;
  float: left;
}

.mayor-about {
  word-wrap: break-word;
}

.mayor-about-text {
  padding-top: 1%;
}

.about-mayor-index {
  width: 85%;
  margin: 0 auto;
}

.about-mayor-image {
  border: solid 2px #5694b5;
  padding: 1%;
}
/* ******************CONTACTS*************** */
#contacts-li {

}

#contacts-ul {
  list-style: none;
}

.grid-container {
  display: inline-grid;
}

.contacts-index {
  padding-left: 15%;
  padding-right: 15%;
}

.col {
  width: 200px;
  word-wrap: break-word;
}
.mayor-news-newspage {
  margin: 1%;
}


/* ***********NEWS************* */

#mayor-news-text {
  text-decoration: none;
}

// ***********email***************

.email-form {
  padding-top: 1%;
}

.g-translate {
  float: right;
}
// .card-columns {
//   margin-left: 12%;
//   margin-right: 12%;
// }

.image-front-program {
  height: 40em;
}
.front-news-index
{
  padding: 30px;
  text-align: center;
}
.mobile-only-nav {
  display: none;
}
.card-columns
{
  display: inline-block;
  width: 85%;
  column-gap: 2.25rem !important;
}

.program-slider {
    margin: auto;
    width: 80%;
    border: solid 2px #5694b5;
    padding: 1%;
  }

.programs-front-end {
  padding-bottom: 3%;
}

@media screen and (min-width: 764px) {
  .card-columns {
    column-count: 3;
  }
}
