// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/**************************************************/
/******************HOME PAGE***********************/
/*************************************************/


/**************************************************/
/******************HEADER IMG**********************/
/*************************************************/

.header_image{
  width: 100%;
  height: 400px;
}

.header {
  background-image: image-url("header.jpg");
  height: 300px;
  background-size: cover;
  padding: 15px;
  background-position: center;
}


.com_logo {
    height: 270px;
    text-align: center;
}

.head {
    font-family: Gill Sans;
    color: white;
    font-size: 55px;
    text-transform: uppercase;
    width: 100%;
    font-weight: lighter;
}

.title {
  font-family: Gill Sans;
  color: white;
  font-size: 70px;
  width: 100%;
  font-weight: lighter;
}

.top-page{
  margin: 0 auto;
  display: flex;
  width: 65%;
  align-items: center;
}

.mainpagetitle{
  margin-left: 20px;
  margin-top: 35px;
}



/********************** THIS WHOLE ****************************/
/********************** ENTIRE SHIT ***************************/
/********************** IS NAVIGATION *************************/
nav {
  // width: 80%;
  margin: 0 auto;
  background: #262626;
  font-family: Gill Sans;
  font-size: 20px;
/*   box-shadow: 0px 5px 0px #dedede; */
}
nav ul {
  list-style: none;
  // text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0px;
  border: none !important;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #555;
  text-decoration: none;
}


/* stroke */
nav.fill ul li a {
  position: relative;
}

nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}


nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
nav.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}
nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}


/* Keyframes */
@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #b30059;
  }
}

/* Keyframes */
@-webkit-keyframes circle {
  0% {
    width: 1px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 1px;
    z-index: -1;
    background: #eee;
    border-radius: 100%;

  }
  100% {
    background: #aaa;
    height: 5000%;
    width: 5000%;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 0;

  }
}


/**************************************************/
/******************MAYOR BODY**********************/
/*****************(ouuuuuuuu)*********************/

// .home_body{
//   margin: 20px 40px 0 40px;
// }

.mayor_img{
  width: 350px;
  float: left;
  margin-left: 200px;
  border: solid 2px #5694b5;
  padding: 15px;
}


.super_summary{
  font-size: 18px;
  text-align: center;
  border: solid none 20px;
  width: 500px;
  height: 300px;
  display: flex;
  margin-left: 670px;
  margin-top: 30px;

}

.mayor-name-home{
  font-family: Gill Sans;
  text-transform: uppercase;
  margin-left: 670px;

}


.home_body{
  margin-top: 80px;
}





/**************************************************/
/******************FEEDS***************************/
/**************************************************/

.twitter-timeline{
  margin-left: 10px;
  display: flex;
}

.youtubeborder{
  border: solid none 13px;
  width: 386px;
  margin-left: 420px;
  margin-top: -455px;
}

.youtube{
  display: flex;
}

.feeds{
  border: solid 2px #b30059;
  height: 600px;
  padding: 80px;
  margin: 150px 50px 160px 50px;
}

.news-title{
margin-left: 420px;
margin-bottom: -231px;
}



/**************************************************/
/******************FOOTER**************************/
/**************************************************/

#miamisites{
 font-family: Gill Sans;
 text-decoration: none;
}

#miamisites a{
  font-family: Gill Sans;
  font-size: 20px;
}

#miamisites a:hover{
 color: black;
 text-decoration: none;
}

#social{
  font-family: Gill Sans;
  font-size: 20px;
}

#social a:hover{
  color: #b30059;
}

footer{
  background-image: image-url("walllab.jpg");
  height: 240px;
}

.insta-btn{
  width: 40px;
  margin-left: 50px;
}

.contactinfo{
  font-weight: bold;
  color: #b30059;
}

.container.text-center.text-md-left{
  padding-top: 25px;
}

#cu{
  font-family: Gill Sans;
}
/**************************************************/
/******************END OF PAGE********************/
/*************************************************/






/**************************************************/
/******************ABOUT PAGE**********************/
/*************************************************/


/**************************************************/
/**********************FEED************************/
/**************************************************/
