@import "_oc_wizard_var.scss";
@import "_oc_wizard_mixins.scss";

$menu-btn-width-s1: ($mainmenu-menuicon-width * 1px) + $mainmenu-menuicon-buttonmargins1-right + $mainmenu-menuicon-buttonmargins1-left + $mainmenu-menuicon-buttonpaddings1-right + $mainmenu-menuicon-buttonpaddings1-left;

@media (min-width: 992px) {
	.sf-menu
	{
		display:block;
		float:left;
		width:100%;
		& ul
		{
			position:absolute;
			display:none;
			top:100%;
			left:0;
			z-index:99;
			box-shadow:2px 2px 6px rgba(0,0,0,.2);
			width: $mainmenu-horizontalmenu-desktopdropdownwidth * 1px;
			& ul
			{
				top:0;
				left:100%;
			}
		}
		& > li
		{
			float:left;
			width:(100% / $mainmenu-horizontalmenu-rootleveldesktopmenuitems);
			border-top: none;
			&.nav-section-quarters-4 > ul,
			&.nav-section-quarters-3 > ul
			{
				right:0;
				left:auto;
			}
			&.nav-section-quarters-4 > ul ul,
			&.nav-section-quarters-3 > ul ul
			{
				right:100%;
				left:auto;
			}
			& > a
			{
				height: $mainmenu-horizontalmenu-rootleveldesktopmenuheight * 1px;
				text-align:$mainmenu-horizontalmenu-rootleveldesktopmenutextalign;
				overflow: hidden;/* IE hack*/
			}
			& > ul
			{
				& a
				{
					padding: $mainmenu-horizontalmenu-secondleveldesktopmenupadding;
				}
			}
			& > ul > li > ul a
			{
					padding: $mainmenu-horizontalmenu-thirdleveldesktopmenupadding;
			}
			&.first-item
			{
				& > a span.item-text {
					border: 0 none;
					clip: rect(0px, 0px, 0px, 0px);
					height: 1px;
					margin: -1px;
					overflow: hidden;
					padding: 0;
					position: absolute;
					width: 1px;
				}
				& > a i.item-icon {
					width: $mainmenu-horizontalmenu-desktophomeiconwidth * 1px;
					height: $mainmenu-horizontalmenu-desktophomeiconheight * 1px;
					background: url($template-generalsprite-spritesheetsvg);
					background-position:$template-generalsprite-desktopmenuhomeicon;
					background-size: $template-generalsprite-spritesheetsize;
					position: relative;
					display: block;
					margin-left: auto;
					margin-right: auto;
					.no-svg & {
						background-image: url($template-generalsprite-spritesheetpng);
					}
				}
			}
			&.nav-active-path
			{
				& > a
				{
					@include oc-background-color($mainmenu-general-rootlevelactivepathbackgroundcolor , $mainmenu-general-rootlevelactivepathbackgroundcolor-alpha);
					color:$mainmenu-general-rootlevelactivepathfontcolor;
				}
				&:after
				{
					content: "";
					display: block;
					width: 0;
					height: 0;
					border-left: 10px solid transparent;
					border-right: 10px solid transparent;
					border-top: 10px solid $mainmenu-general-rootlevelactivepathbackgroundcolor;
					position: absolute;
					bottom: -10px;
					left: 50%;
					margin-left:-10px;
					@include transition(border 300ms ease-out 0s);
				}
				&:hover:after,
				&:focus:after,
				&.sfHover:after
				{
					@include transition(none);
					border-top: 10px solid $mainmenu-general-rootlevelhoverbackgroundcolor;
				}
				& > a
				{
					@include oc-background-color($mainmenu-general-rootlevelactivepathbackgroundcolor , $mainmenu-general-rootlevelactivepathbackgroundcolor-alpha);

				}
			}
			&:hover > a,
			&:focus > a,
			&.sfHover > a
			{
				@include oc-background-color($mainmenu-general-rootlevelhoverbackgroundcolor , $mainmenu-general-rootlevelhoverbackgroundcolor-alpha);
				color: $mainmenu-general-rootlevelhoverfontcolor;
			}
			&.xpopdrop +li,
			& > ul > li:first-child,
			& > ul > li > ul > li:first-child
			{
				border-top: none;
			}
		}
		& li:hover > ul,
		& li:focus > ul,
		& li.sfHover > ul
		{
			display:block;
		}
		& li:hover,& li:focus,.sf-menu li.sfHover
		{
	  @include oc-background-color($mainmenu-general-rootlevelhoverbackgroundcolor , $mainmenu-general-rootlevelhoverbackgroundcolor-alpha);
			@include transition(none);
		}
		& ul li
		{
			@include oc-background-color($mainmenu-general-secondlevelbackgroundcolor, $mainmenu-general-secondlevelbackgroundcolor-alpha);
			border-top: $mainmenu-general-secondlevelborder;
		}
		& ul ul li
		{
			@include oc-background-color($mainmenu-general-thirdlevelbackgroundcolor, $mainmenu-general-thirdlevelbackgroundcolor-alpha);
			border-top: $mainmenu-general-thirdlevelborder;
		}
		& a,
		& ul a,
		& ul ul a,
		& > li > .nav-has-children
		{
			padding: $mainmenu-horizontalmenu-rootleveldesktopmenupadding;
		}
	}
	#mobnav-btn,.mobnav-subarrow
	{
		display:none;
	}
	.mobnav-subarrow-child i
	{
		background-position: $template-generalsprite-desktopmenudropdownarrow;
	}

	.js .side-menu .navigation-outer-container {
		width: $mainmenu-offscreenmenu-widths1 * 1px;
	}

	.side-menu-btn {
	  margin: $mainmenu-menuicon-buttonmargins1;
	  padding:$mainmenu-menuicon-buttonpaddings1;
	}
	.side-menu-right .header-layout-2 #header-search{
		margin-right:$menu-btn-width-s1 + $header-search-containermargins1-right;

	}
}

@media (min-width: 1140px + $menu-btn-width-s1 + 50px) {
	.side-menu-right .header-layout-2 #header-search{
		margin-right:0;
	}
}
